html{
    font-family: Arial, Helvetica, sans-serif;
}

#header img{
    width: 50px;
}

.text-donacion {
    color: #97c93e !important;
}

main img{
    height: 70vh;
    object-fit:cover;
    object-position: 15% 85%;
    filter: grayscale(0.8);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.overlay .container,
.overlay .row {
    height: 100%;
}

.btn-donar {
    background-color: #97c93e !important;
    color: white;
}
.btn-donar:hover {
    background-color: #52796F !important;
}

#footer {
    background: linear-gradient(270deg,#354F52,#52796F);
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 600px) {
    main img{
        object-position: 50% 50%;
    }
}

/*PALETA DE COLORES
354F52
52796F
84A98C
CAD2C5
*/